knitml/tags/0.5.M2/knitml-core/src/main/resources/com/knitml/core/xml/pattern-header-types-0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.knitml.com/schema/pattern"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.knitml.com/schema/pattern" xml:lang="en"
    elementFormDefault="qualified">
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/xml.xsd"/>

    <xsd:complexType name="LengthType">
        <xsd:annotation>
            <xsd:documentation>Represents a measurement where the unit is
            length.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="unit">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:NMTOKEN">
                            <xsd:enumeration value="cm"/>
                            <xsd:enumeration value="m"/>
                            <xsd:enumeration value="in"/>
                            <xsd:enumeration value="yd"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="StitchGaugeType">
        <xsd:annotation>
            <xsd:documentation>Represents a measurement where the unit is stitches per unit of
                length.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="unit">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="st/in"/>
                            <xsd:enumeration value="st/cm"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="RowGaugeType">
        <xsd:annotation>
            <xsd:documentation>Represents a measurement where the unit is rows per unit of
            length.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="unit">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="row/in"/>
                            <xsd:enumeration value="row/cm"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="WeightType">
        <xsd:annotation>
            <xsd:documentation>Represents a measurement where the unit is
            weight.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="unit">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:NMTOKEN">
                            <xsd:enumeration value="g"/>
                            <xsd:enumeration value="oz"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="NeedleGaugeSizeType">
        <xsd:annotation>
            <xsd:documentation>Represents a measurement where the unit is needle gauge size (i.e.
                length).</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="unit">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="US"/>
                            <xsd:enumeration value="UK"/>
                            <xsd:enumeration value="mm"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="GaugeType">
        <xsd:annotation>
            <xsd:documentation>Holds the gauges for the pattern. Programs can use this to calculate
                numbers of repetitions to achieve requested length.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stitch-gauge" type="StitchGaugeType">
                <xsd:annotation>
                    <xsd:documentation>The stitch gauge for the pattern.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="row-gauge" type="RowGaugeType">
                <xsd:annotation>
                    <xsd:documentation>The row gauge for the pattern.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The type of swatch knit to determine gauge, e.g. 'stockinette'.
                    Currently free form text.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="CopyrightInfoType">
        <xsd:annotation>
            <xsd:documentation>Copyright information for the pattern. Currently
            undefined.</xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>

    <xsd:simpleType name="DimensionsType">
        <xsd:annotation>
            <xsd:documentation>The dimensions of the pattern. Currently free form
            text.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:complexType name="AccessoriesType">
        <xsd:annotation>
            <xsd:documentation>Accessories such as buttons, stitch holders, etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="holder" type="HolderType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="other" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="GeneralInformationType">
        <xsd:annotation>
            <xsd:documentation>General information about the pattern, such as the author, a
                description, etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="dimensions" type="DimensionsType" minOccurs="0"/>
            <xsd:element name="gauge" type="GaugeType"/>
            <xsd:element name="techniques" type="TechniquesType" minOccurs="0"/>
            <xsd:element name="author" type="AuthorType" minOccurs="0"/>
            <xsd:element name="copyright-info" type="CopyrightInfoType" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="xml:lang">
            <xsd:annotation>
                <xsd:documentation>The language this section is written in. As it is not currently
                    possible to internationalize a general-information section, the ISO-639 language
                    code should always be specified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="TechniquesType">
        <xsd:annotation>
            <xsd:documentation>A series of knitting techniques.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="technique" type="TechniqueType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ColorType">
        <xsd:annotation>
            <xsd:documentation>Represents a yarn's colorway.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="description" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>A description of the colorway.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The name of the colorway.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="number" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The number of the colorway.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="AvailabilityType">
        <xsd:annotation>
            <xsd:documentation>Reserved for future use.</xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>
    <xsd:complexType name="TechniqueType">
        <xsd:annotation>
            <xsd:documentation>A knitting skill required to knit this pattern. Free form
            text.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="SuppliesType">
        <xsd:annotation>
            <xsd:documentation>Defines supplies needed to knit this pattern. Includes yarn, needles,
                and accessories.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="yarns" type="YarnsType"/>
            <xsd:element name="needles" type="NeedlesType"/>
            <xsd:element name="accessories" type="AccessoriesType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AuthorType">
        <xsd:annotation>
            <xsd:documentation>The pattern designer's name..</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="first-name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The pattern designer's first name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="last-name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The pattern designer's last name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NeedlesType">
        <xsd:annotation>
            <xsd:documentation>Needles needed to knit this pattern.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="1" name="needle-type" type="NeedleTypeType"/>
            <xsd:element maxOccurs="unbounded" name="needle" type="NeedleType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NeedleTypeType">
        <xsd:annotation>
            <xsd:documentation>A type of needle needed to knit the pattern.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="length" type="LengthType">
                <xsd:annotation>
                    <xsd:documentation>The length of the needle. Usually only relevant for circular
                        needles.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="size" type="NeedleGaugeSizeType">
                <xsd:annotation>
                    <xsd:documentation>The size of the needle, specified in US or mm
                    size.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
        <xsd:attribute name="id" type="xsd:ID"/>
        <xsd:attribute name="type">
            <xsd:annotation>
                <xsd:documentation>The type of needle this refers to. Can be a 'straight','dpn', or
                    'circular'.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:NMTOKEN">
                    <xsd:enumeration value="straight"/>
                    <xsd:enumeration value="dpn"/>
                    <xsd:enumeration value="circular"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="brand" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The brand of the needle.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="NeedleType">
        <xsd:annotation>
            <xsd:documentation>A particular needle whose 'typeref' attribute matches a previously defined needle-type element.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
        <xsd:attribute name="typeref" type="xsd:IDREF" use="required"/>
        <xsd:attribute name="message-key" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The internationalization key which serves as the initial label for this needle.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="label" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="YarnsType">
        <xsd:annotation>
            <xsd:documentation>Yarn needed to knit this pattern.</xsd:documentation>
        </xsd:annotation>
        <xsd:choice maxOccurs="unbounded">
            <xsd:element minOccurs="1" name="yarn-type" type="YarnTypeType"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="yarn" type="YarnType"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="YarnTypeType">
        <xsd:annotation>
            <xsd:documentation>A type of yarn needed to knit the pattern.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="ball-length" type="LengthType"/>
            <xsd:element minOccurs="0" name="ball-weight" type="WeightType"/>
            <xsd:element minOccurs="0" name="availability" type="AvailabilityType"/>
            <xsd:element minOccurs="0" name="thickness" type="ThicknessType">
                <xsd:annotation>
                    <xsd:documentation>Wraps per length unit are used to gauge yarn thickness.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
        <xsd:attribute name="brand" type="xsd:string"/>
        <xsd:attribute name="category" type="xsd:string"/>
        <xsd:attribute name="subcategory" type="xsd:string"/>
        <xsd:attribute name="catalog-id" type="xsd:string"/>
        <xsd:attribute name="weight" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Free form text. Examples include Fingering, sport, DK</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="YarnType">
        <xsd:annotation>
            <xsd:documentation>A particular yarn whose 'typeref' attribute matches a previously defined yarn-type element.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="total-length" type="LengthType"/>
            <xsd:element minOccurs="0" name="total-weight" type="WeightType"/>
            <xsd:element minOccurs="0" name="color" type="ColorType"/>
        </xsd:all>
        <xsd:attribute name="id" type="xsd:ID"/>
        <xsd:attribute name="message-key" type="xsd:string"/>
        <xsd:attribute name="typeref" type="xsd:IDREF"/>
        <xsd:attribute name="label" type="xsd:string"/>
        <xsd:attribute name="symbol" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="ThicknessType">
        <xsd:annotation>
            <xsd:documentation>Wraps per length unit are used to gauge yarn thickness.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:integer">
                <xsd:attribute name="unit">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="wrap/in"/>
                            <xsd:enumeration value="wrap/cm"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="HolderType">
        <xsd:annotation>
            <xsd:documentation>A holder of live stitches.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
        <xsd:attribute name="message-key" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>The internationalization key which serves as the label for this holder.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="label" type="xsd:string"/>
    </xsd:complexType>
    
</xsd:schema>
