knitml/tags/knitml-parent-0.7.0.BUILD/knitml-core/src/test/resources/library-0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.knitml.com/schema/library"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:operations="http://www.knitml.com/schema/operations"
	xmlns:common="http://www.knitml.com/schema/common" targetNamespace="http://www.knitml.com/schema/library"
	xml:lang="en" elementFormDefault="qualified">
	<xsd:import namespace="http://www.knitml.com/schema/operations"
		schemaLocation="http://www.knitml.com/schema/operations-0.6.xsd" />
	<xsd:import namespace="http://www.knitml.com/schema/common"
		schemaLocation="http://www.knitml.com/schema/common-0.6.xsd" />
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="http://www.w3.org/2001/xml.xsd" />

	<xsd:element name="library">
		<xsd:annotation>
			<xsd:documentation>The top level (typically root) element which
				defines a stitch library.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="information" type="InformationType"
					minOccurs="0" />
				<xsd:element name="directives" type="DirectivesType"
					minOccurs="0" />
				<xsd:element name="yarns" type="YarnsType" minOccurs="0" />
				<xsd:element name="definitions" type="DefinitionsType" />
			</xsd:sequence>
			<xsd:attribute ref="xml:lang" use="optional">
				<xsd:annotation>
					<xsd:documentation>The ISO-639 language code that the pattern is
						written in. If the
						pattern is fully internationalized, this
						attribute should not be
						specified.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="version" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>The major / minor version of the KnitML
						Specification schema. Example:
						0.6. Used for backward compatibility
						so that software can process
						older schemas and make
						adjustments if
						necessary.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="InformationType">
		<xsd:annotation>
			<xsd:documentation>Information about this library.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" minOccurs="0" type="xsd:string" />
			<xsd:element name="description" minOccurs="0" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DirectivesType">
		<xsd:annotation>
			<xsd:documentation>Collection of processing instructions. Currently
				this includes the namespace of the library.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="namespace" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:string" use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="YarnsType">
		<xsd:annotation>
			<xsd:documentation>Yarns container for this particular yarn type.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="unbounded" ref="common:yarn" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DefinitionsType">
		<xsd:annotation>
			<xsd:documentation>Holds all pre-defined instructions for this
				library.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="operations:instruction" />
			<xsd:element ref="operations:merged-instruction" />
			<xsd:element ref="operations:inline-instruction" />
		</xsd:choice>
	</xsd:complexType>

	<!-- <xsd:complexType name="DirectivesType"> <xsd:annotation> <xsd:documentation>Collection 
		of processing instructions. Current directives include sources for internationalized 
		text in the pattern and global instructions to be referenced in the directions. 
		</xsd:documentation> </xsd:annotation> <xsd:sequence> <xsd:element name="message-sources" 
		minOccurs="0"> <xsd:complexType> <xsd:sequence> <xsd:element name="message-source" 
		type="xsd:string" minOccurs="0" maxOccurs="unbounded" /> </xsd:sequence> 
		</xsd:complexType> </xsd:element> <xsd:element name="instruction-definitions" 
		type="InstructionDefinitionsType" minOccurs="0" maxOccurs="1" /> </xsd:sequence> 
		<xsd:attribute name="type" type="xsd:string" /> </xsd:complexType> <xsd:complexType 
		name="InstructionDefinitionsType"> <xsd:annotation> <xsd:documentation>Holds 
		all pre-defined instructions that will be used later in the pattern. May 
		be rendered in a pattern legend and may be referenced anywhere within the 
		pattern. </xsd:documentation> </xsd:annotation> <xsd:choice maxOccurs="unbounded"> 
		<xsd:element ref="operations:instruction" /> <xsd:element ref="operations:merged-instruction" 
		/> <xsd:element ref="operations:inline-instruction" /> </xsd:choice> </xsd:complexType> 
		<xsd:complexType name="StitchGaugeType"> <xsd:annotation> <xsd:documentation>Represents 
		a measurement where the unit is stitches per unit of length. </xsd:documentation> 
		</xsd:annotation> <xsd:simpleContent> <xsd:extension base="xsd:decimal"> 
		<xsd:attribute name="unit"> <xsd:simpleType> <xsd:restriction base="xsd:string"> 
		<xsd:enumeration value="st/in" /> <xsd:enumeration value="st/cm" /> </xsd:restriction> 
		</xsd:simpleType> </xsd:attribute> </xsd:extension> </xsd:simpleContent> 
		</xsd:complexType> <xsd:complexType name="RowGaugeType"> <xsd:annotation> 
		<xsd:documentation>Represents a measurement where the unit is rows per unit 
		of length. </xsd:documentation> </xsd:annotation> <xsd:simpleContent> <xsd:extension 
		base="xsd:decimal"> <xsd:attribute name="unit"> <xsd:simpleType> <xsd:restriction 
		base="xsd:string"> <xsd:enumeration value="row/in" /> <xsd:enumeration value="row/cm" 
		/> </xsd:restriction> </xsd:simpleType> </xsd:attribute> </xsd:extension> 
		</xsd:simpleContent> </xsd:complexType> <xsd:complexType name="NeedleGaugeSizeType"> 
		<xsd:annotation> <xsd:documentation>Represents a measurement where the unit 
		is needle gauge size (i.e. length). </xsd:documentation> </xsd:annotation> 
		<xsd:simpleContent> <xsd:extension base="xsd:decimal"> <xsd:attribute name="unit"> 
		<xsd:simpleType> <xsd:restriction base="xsd:string"> <xsd:enumeration value="US" 
		/> <xsd:enumeration value="UK" /> <xsd:enumeration value="mm" /> </xsd:restriction> 
		</xsd:simpleType> </xsd:attribute> </xsd:extension> </xsd:simpleContent> 
		</xsd:complexType> <xsd:complexType name="GaugeType"> <xsd:annotation> <xsd:documentation>Holds 
		the gauges for the pattern. Programs can use this to calculate numbers of 
		repetitions to achieve requested length. </xsd:documentation> </xsd:annotation> 
		<xsd:sequence> <xsd:element name="stitch-gauge" type="StitchGaugeType"> <xsd:annotation> 
		<xsd:documentation>The stitch gauge for the pattern. </xsd:documentation> 
		</xsd:annotation> </xsd:element> <xsd:element name="row-gauge" type="RowGaugeType"> 
		<xsd:annotation> <xsd:documentation>The row gauge for the pattern. </xsd:documentation> 
		</xsd:annotation> </xsd:element> </xsd:sequence> <xsd:attribute name="type" 
		type="xsd:string"> <xsd:annotation> <xsd:documentation>The type of swatch 
		knit to determine gauge, e.g. 'stockinette'. Currently free form text. </xsd:documentation> 
		</xsd:annotation> </xsd:attribute> </xsd:complexType> <xsd:complexType name="CopyrightInfoType"> 
		<xsd:annotation> <xsd:documentation>Copyright information for the pattern. 
		Currently undefined. </xsd:documentation> </xsd:annotation> </xsd:complexType> 
		<xsd:simpleType name="DimensionsType"> <xsd:annotation> <xsd:documentation>The 
		dimensions of the pattern. Currently free form text. </xsd:documentation> 
		</xsd:annotation> <xsd:restriction base="xsd:string" /> </xsd:simpleType> 
		<xsd:complexType name="AccessoriesType"> <xsd:annotation> <xsd:documentation>Accessories 
		such as stitch holders, markers, etc. </xsd:documentation> </xsd:annotation> 
		<xsd:sequence> <xsd:element ref="common:stitch-holder" minOccurs="0" maxOccurs="unbounded" 
		/> <xsd:element name="other" type="xsd:string" minOccurs="0" maxOccurs="unbounded" 
		/> </xsd:sequence> </xsd:complexType> <xsd:complexType name="GeneralInformationType"> 
		<xsd:annotation> <xsd:documentation>General information about the pattern, 
		such as the author, description, etc. </xsd:documentation> </xsd:annotation> 
		<xsd:sequence> <xsd:element name="name" type="xsd:string" /> <xsd:element 
		name="description" type="xsd:string" /> <xsd:element name="dimensions" type="DimensionsType" 
		minOccurs="0" /> <xsd:element name="gauge" type="GaugeType" /> <xsd:element 
		name="techniques" type="TechniquesType" minOccurs="0" /> <xsd:element name="author" 
		type="AuthorType" minOccurs="0" /> <xsd:element name="copyright-info" type="CopyrightInfoType" 
		minOccurs="0" /> </xsd:sequence> <xsd:attribute ref="xml:lang"> <xsd:annotation> 
		<xsd:documentation>The language this section is written in. As it is not 
		currently possible to internationalize a general-information section, the 
		ISO-639 language code should always be specified. </xsd:documentation> </xsd:annotation> 
		</xsd:attribute> </xsd:complexType> <xsd:complexType name="TechniquesType"> 
		<xsd:annotation> <xsd:documentation>A series of knitting techniques. </xsd:documentation> 
		</xsd:annotation> <xsd:sequence> <xsd:element name="technique" type="TechniqueType" 
		maxOccurs="unbounded" /> </xsd:sequence> </xsd:complexType> <xsd:complexType 
		name="AvailabilityType"> <xsd:annotation> <xsd:documentation>Reserved for 
		future use.</xsd:documentation> </xsd:annotation> </xsd:complexType> <xsd:complexType 
		name="TechniqueType"> <xsd:annotation> <xsd:documentation>A knitting skill 
		required to knit this pattern. Free form text. </xsd:documentation> </xsd:annotation> 
		<xsd:simpleContent> <xsd:extension base="xsd:string" /> </xsd:simpleContent> 
		</xsd:complexType> <xsd:complexType name="SuppliesType"> <xsd:annotation> 
		<xsd:documentation>Defines supplies needed to knit this pattern. Includes 
		yarn, needles, and accessories. </xsd:documentation> </xsd:annotation> <xsd:sequence> 
		<xsd:element name="yarn-types" type="YarnTypesType" /> <xsd:element name="needle-types" 
		type="NeedleTypesType" /> <xsd:element name="accessories" type="AccessoriesType" 
		/> </xsd:sequence> </xsd:complexType> <xsd:complexType name="AuthorType"> 
		<xsd:annotation> <xsd:documentation>The pattern designer's name.</xsd:documentation> 
		</xsd:annotation> <xsd:sequence> <xsd:element name="first-name" type="xsd:string"> 
		<xsd:annotation> <xsd:documentation>The pattern designer's first name. </xsd:documentation> 
		</xsd:annotation> </xsd:element> <xsd:element name="last-name" type="xsd:string"> 
		<xsd:annotation> <xsd:documentation>The pattern designer's last name. </xsd:documentation> 
		</xsd:annotation> </xsd:element> </xsd:sequence> </xsd:complexType> <xsd:complexType 
		name="NeedleTypesType"> <xsd:annotation> <xsd:documentation>Types of needles 
		needed to knit this pattern. </xsd:documentation> </xsd:annotation> <xsd:sequence> 
		<xsd:element minOccurs="1" maxOccurs="unbounded" name="needle-type" type="NeedleTypeType" 
		/> </xsd:sequence> </xsd:complexType> <xsd:complexType name="NeedleTypeType"> 
		<xsd:annotation> <xsd:documentation>A type of needle needed to knit the pattern. 
		</xsd:documentation> </xsd:annotation> <xsd:all> <xsd:element minOccurs="0" 
		name="length" type="common:LengthType"> <xsd:annotation> <xsd:documentation>The 
		length of the needle. Usually only relevant for circular needles. </xsd:documentation> 
		</xsd:annotation> </xsd:element> <xsd:element minOccurs="0" name="size" type="NeedleGaugeSizeType"> 
		<xsd:annotation> <xsd:documentation>The size of the needle, specified in 
		US or mm size. </xsd:documentation> </xsd:annotation> </xsd:element> <xsd:element 
		minOccurs="1" name="needles" type="NeedlesType" /> </xsd:all> <xsd:attribute 
		name="id" type="xsd:ID" /> <xsd:attribute name="type"> <xsd:annotation> <xsd:documentation>The 
		type of needle this refers to. Can be a 'straight','dpn', or 'circular'. 
		</xsd:documentation> </xsd:annotation> <xsd:simpleType> <xsd:restriction 
		base="xsd:NMTOKEN"> <xsd:enumeration value="straight" /> <xsd:enumeration 
		value="dpn" /> <xsd:enumeration value="circular" /> </xsd:restriction> </xsd:simpleType> 
		</xsd:attribute> <xsd:attribute name="brand" type="xsd:string"> <xsd:annotation> 
		<xsd:documentation>The brand of the needle.</xsd:documentation> </xsd:annotation> 
		</xsd:attribute> </xsd:complexType> <xsd:complexType name="NeedlesType"> 
		<xsd:annotation> <xsd:documentation>Needles container for a surrounding needle 
		type. </xsd:documentation> </xsd:annotation> <xsd:sequence> <xsd:element 
		minOccurs="1" maxOccurs="unbounded" ref="common:needle" /> </xsd:sequence> 
		</xsd:complexType> <xsd:complexType name="YarnTypesType"> <xsd:annotation> 
		<xsd:documentation>Types of yarn needed to knit this pattern. </xsd:documentation> 
		</xsd:annotation> <xsd:sequence> <xsd:element minOccurs="1" maxOccurs="unbounded" 
		name="yarn-type" type="YarnTypeType" /> </xsd:sequence> </xsd:complexType> 
		<xsd:complexType name="YarnTypeType"> <xsd:annotation> <xsd:documentation>A 
		type of yarn needed to knit the pattern. </xsd:documentation> </xsd:annotation> 
		<xsd:all> <xsd:element minOccurs="0" name="ball-length" type="common:LengthType" 
		/> <xsd:element minOccurs="0" name="ball-weight" type="common:WeightType" 
		/> <xsd:element minOccurs="0" name="availability" type="AvailabilityType" 
		/> <xsd:element minOccurs="0" name="thickness" type="ThicknessType"> <xsd:annotation> 
		<xsd:documentation>Wraps per length unit are used to gauge yarn thickness. 
		</xsd:documentation> </xsd:annotation> </xsd:element> <xsd:element minOccurs="1" 
		name="yarns" type="YarnsType" /> </xsd:all> <xsd:attribute name="id" type="xsd:ID" 
		use="required" /> <xsd:attribute name="brand" type="xsd:string" /> <xsd:attribute 
		name="category" type="xsd:string" /> <xsd:attribute name="subcategory" type="xsd:string" 
		/> <xsd:attribute name="catalog-id" type="xsd:string" /> <xsd:attribute name="weight" 
		type="xsd:string"> <xsd:annotation> <xsd:documentation>Free form text. Examples 
		include Fingering, sport, DK, etc. </xsd:documentation> </xsd:annotation> 
		</xsd:attribute> </xsd:complexType> <xsd:complexType name="YarnsType"> <xsd:annotation> 
		<xsd:documentation>Yarns container for this particular yarn type. </xsd:documentation> 
		</xsd:annotation> <xsd:sequence> <xsd:element minOccurs="1" maxOccurs="unbounded" 
		ref="common:yarn" /> </xsd:sequence> </xsd:complexType> <xsd:complexType 
		name="ThicknessType"> <xsd:annotation> <xsd:documentation>Wraps per length 
		unit are used to gauge yarn thickness. </xsd:documentation> </xsd:annotation> 
		<xsd:simpleContent> <xsd:extension base="xsd:integer"> <xsd:attribute name="unit"> 
		<xsd:simpleType> <xsd:restriction base="xsd:string"> <xsd:enumeration value="wrap/in" 
		/> <xsd:enumeration value="wrap/cm" /> </xsd:restriction> </xsd:simpleType> 
		</xsd:attribute> </xsd:extension> </xsd:simpleContent> </xsd:complexType> 
		<xsd:complexType name="DirectionsType"> <xsd:annotation> <xsd:documentation>The 
		directions for the pattern. Directions usually start with a cast on, specify 
		operations for knitting the pattern, and end with a bind off or graft. Directions 
		may consist of one or more sections, one or more instruction groups, or any 
		combination of block operations (including instructions, instruction-refs, 
		and rows). </xsd:documentation> </xsd:annotation> <xsd:choice> <xsd:choice> 
		<xsd:choice maxOccurs="unbounded"> <xsd:group ref="operations:atomicBlockOperations" 
		/> <xsd:element ref="operations:instruction" /> <xsd:element ref="operations:instruction-ref" 
		/> <xsd:element ref="operations:row" /> </xsd:choice> <xsd:element maxOccurs="unbounded" 
		name="section" type="SectionType" /> </xsd:choice> <xsd:element maxOccurs="unbounded" 
		name="instruction-group" type="InstructionGroupType" /> </xsd:choice> </xsd:complexType> 
		<xsd:complexType name="InstructionGroupType"> <xsd:annotation> <xsd:documentation>A 
		group of instructions that make up a major top-level section of a pattern. 
		An instruction group may optionally be labelled. Instruction groups may consist 
		of one or more sections or any combination of block operations (including 
		instructions, instruction-refs, and rows). Instruction groups cannot be nested 
		and may only appear directly under the directions element. </xsd:documentation> 
		</xsd:annotation> <xsd:choice> <xsd:choice maxOccurs="unbounded"> <xsd:group 
		ref="operations:atomicBlockOperations" /> <xsd:element ref="operations:instruction" 
		/> <xsd:element ref="operations:instruction-ref" /> <xsd:element ref="operations:row" 
		/> </xsd:choice> <xsd:element maxOccurs="unbounded" name="section" type="SectionType" 
		/> </xsd:choice> <xsd:attribute name="id" type="common:id-type" use="required" 
		/> <xsd:attributeGroup ref="common:labelAttrs" /> <xsd:attribute name="reset-row-count" 
		type="operations:reset-row-count-type" /> </xsd:complexType> <xsd:complexType 
		name="SectionType"> <xsd:annotation> <xsd:documentation>A logical grouping 
		of operations. A renderer may interpret sections as paragraphs. </xsd:documentation> 
		</xsd:annotation> <xsd:choice maxOccurs="unbounded"> <xsd:group ref="operations:atomicBlockOperations" 
		/> <xsd:element ref="operations:instruction" /> <xsd:element ref="operations:instruction-ref" 
		/> <xsd:element ref="operations:row" /> </xsd:choice> <xsd:attribute name="reset-row-count" 
		type="operations:reset-row-count-type" /> </xsd:complexType> -->

</xsd:schema>
